*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-50: #f3e3d3;
    --primary-100: #eed9c3;
    --primary-200: #e5c29f;
    --primary-300: #dcad7f;
    --primary-400: #d2965b;
    --primary-500: #c9833b;
    --primary-600: #a4692d;
    --primary-700: #7c4f22;
    --primary-800: #503316;
    --primary-900: #281a0b;
    --primary-950: #140d06;
    --primary: var(--primary-500);
    --secondary-50: #d7d7ea;
    --secondary-100: #c6c7e2;
    --secondary-200: #a7a9d2;
    --secondary-300: #8688c1;
    --secondary-400: #6466af;
    --secondary-500: #4d5096;
    --secondary-600: #3e4079;
    --secondary-700: #2f305b;
    --secondary-800: #1f203d;
    --secondary-900: #10101e;
    --secondary-950: #07070d;
    --secondary: var(--secondary-500);
    --tertiary-50: #e0dbe6;
    --tertiary-100: #d0c9d9;
    --tertiary-200: #b4a8c3;
    --tertiary-300: #9786ac;
    --tertiary-400: #7d6897;
    --tertiary-500: #615175;
    --tertiary-600: #4e415d;
    --tertiary-700: #3a3045;
    --tertiary-800: #282130;
    --tertiary-900: #141118;
    --tertiary-950: #0a080c;
    --tertiary: var(--tertiary-500);
    --danger-50: #f6d6d5;
    --danger-100: #f2c6c4;
    --danger-200: #eca9a7;
    --danger-300: #e68d8a;
    --danger-400: #df706c;
    --danger-500: #d9534f;
    --danger-600: #c12f2a;
    --danger-700: #932420;
    --danger-800: #601715;
    --danger-900: #320c0b;
    --danger-950: #190605;
    --danger: var(--danger-500);
    --success-50: #d8eed8;
    --success-100: #cae8ca;
    --success-200: #addbad;
    --success-300: #94d194;
    --success-400: #78c478;
    --success-500: #5cb85c;
    --success-600: #439943;
    --success-700: #327232;
    --success-800: #224e22;
    --success-900: #112711;
    --success-950: #081208;
    --success: var(--success-500);
    --warning-50: #fdf6ec;
    --warning-100: #fcedd9;
    --warning-200: #f9deb8;
    --warning-300: #f6cd93;
    --warning-400: #f3bd72;
    --warning-500: #f0ad4e;
    --warning-600: #eb9114;
    --warning-700: #ae6c0f;
    --warning-800: #76490a;
    --warning-900: #382305;
    --warning-950: #1c1102;
    --warning: var(--warning-500);
    --info-50: #eef8fc;
    --info-100: #ddf2f8;
    --info-200: #bfe6f2;
    --info-300: #9dd9eb;
    --info-400: #7bcce5;
    --info-500: #5bc0de;
    --info-600: #2aa9d0;
    --info-700: #20809d;
    --info-800: #15566a;
    --info-900: #0a2933;
    --info-950: #051519;
    --info: var(--info-500);
    --black-50: #e9e8e7;
    --black-100: #d5d4d2;
    --black-200: #a8a6a3;
    --black-300: #7e7a77;
    --black-400: #514f4d;
    --black-500: #232221;
    --black-600: #1d1c1b;
    --black-700: #151414;
    --black-800: #0d0d0c;
    --black-900: #080807;
    --black-950: #030302;
    --black: var(--black-500);
    --black-rgb: 35, 34, 33;
    --white-50: #fefcfb;
    --white-100: #fcf8f5;
    --white-200: #f0dbcc;
    --white-300: #e3bda1;
    --white-400: #d69f76;
    --white-500: #c9814b;
    --white-600: #a96633;
    --white-700: #814e27;
    --white-800: #56341a;
    --white-900: #2b1a0d;
    --white-950: #140c06;
    --white: var(--white-100);
    --white-rgb: 252, 248, 245;
    --white-fixed: #fcf8f5;
    --black-fixed: #232221;

    --text-color: var(--black);
    --background-color: var(--white);
    --clock-font: ;
    --clock-font-size: 10rem;
    --clock-font-weight: 700;
    --clock-font-style: normal;
    --clock-font-color: var(--text-color);
}

[data-theme="dark"] {
    --black: #f8f9fa;
    --black-rgb: 248, 249, 250;
    --white: #111111;
}

::selection {
    background-color: var(--primary-600);
    color: var(--white-fixed);
}

[data-theme="dark"] ::selection {
    background-color: var(--primary-200);
    color: var(--black-fixed);
}

/* Typography */

body {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    font-family: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#__nuxt {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

a {
    color: var(--primary);
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

/* Utilities */

/* Navigation */

header {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 500;
    width: fit-content;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: fit-content;
    color: #fff;
}

.menu > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.75rem;
}

.menu > ul > li {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
}

.dropdown-button > i {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.dropdown.active .dropdown-button > i {
    transform: rotate(45deg);
}

.dropdown-content {
    display: flex;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%) scale(0);
    background-color: transparent;
    border: 1px solid var(--black-500);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-direction: column;
    padding: 0.25rem;
    gap: 0.25rem;
    transition: transform 0.3s ease;
}

.dropdown-content > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0.25rem;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--black-fixed);
    background-color: transparent;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:not(:has(a)) {
    padding: 0.25rem;
}

.dropdown-item a {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.25rem;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: var(--black-500);
    color: var(--white-fixed);
}

.dropdown.active .dropdown-content {
    transform: translateX(-50%) scale(1);
}

[data-theme="dark"] .dropdown-content {
    background-color: transparent;
    border: 1px solid var(--white-200);
    color: var(--white-fixed);
}

[data-theme="dark"] .dropdown-item {
    color: var(--white-fixed);
}

[data-theme="dark"] .dropdown-item:hover {
    background-color: var(--white-200);
    color: var(--black-fixed);
}

/* Buttons */

.btn {
    --btn-bg: transparent;
    --btn-color: var(--black-fixed);
    --btn-hover-bg: var(--black-500);
    --btn-hover-color: var(--white-fixed);
    --btn-border: 1px solid var(--black-500);
    --btn-hover-border: 1px solid var(--black-500);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: var(--btn-border);
    border-radius: 0.5rem;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-color);
    border: var(--btn-hover-border);
}

.btn:active, .btn:focus {
    transform: translateY(1px);
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

[data-theme="dark"] .btn {
    --btn-bg: transparent;
    --btn-color: var(--white-fixed);
    --btn-hover-bg: var(--white-200);
    --btn-hover-color: var(--black-fixed);
    --btn-border: 1px solid var(--white-200);
    --btn-hover-border: 1px solid var(--white-fixed);
}

[data-theme="dark"] .btn-primary, .btn-primary {
    --btn-bg: transparent;
    --btn-color: var(--primary);
    --btn-hover-bg: var(--primary);
    --btn-hover-color: var(--black-fixed);
    --btn-border: 1px solid var(--primary);
    --btn-hover-border: 1px solid var(--primary);
}

[data-theme="dark"] .btn-light {
    --btn-bg: transparent;
    --btn-color: var(--white-fixed);
    --btn-hover-bg: var(--white-fixed);
    --btn-hover-color: var(--black-fixed);
    --btn-border: 1px solid var(--white-fixed);
    --btn-hover-border: 1px solid var(--white-fixed);
}

.btn-light {
    --btn-bg: transparent;
    --btn-color: var(--black-fixed);
    --btn-hover-bg: var(--black-fixed);
    --btn-hover-color: var(--white-fixed);
    --btn-border: 1px solid var(--black-fixed);
    --btn-hover-border: 1px solid var(--black-fixed);
}

[data-theme="dark"] .btn-secondary, .btn-secondary {
    --btn-bg: transparent;
    --btn-color: var(--secondary);
    --btn-hover-bg: var(--secondary);
    --btn-hover-color: var(--white-fixed);
    --btn-border: 1px solid var(--secondary);
    --btn-hover-border: 1px solid var(--secondary);
}

[data-theme="dark"] .btn-tertiary, .btn-tertiary {
    --btn-bg: transparent;
    --btn-color: var(--tertiary);
    --btn-hover-bg: var(--tertiary);
    --btn-hover-color: var(--white-fixed);
    --btn-border: 1px solid var(--tertiary);
    --btn-hover-border: 1px solid var(--tertiary);
}

[data-theme="dark"] .btn-danger, .btn-danger {
    --btn-bg: transparent;
    --btn-color: var(--danger);
    --btn-hover-bg: var(--danger);
    --btn-hover-color: var(--black-fixed);
    --btn-border: 1px solid var(--danger);
    --btn-hover-border: 1px solid var(--danger);
}

[data-theme="dark"] .btn-success, .btn-success {
    --btn-bg: transparent;
    --btn-color: var(--success);
    --btn-hover-bg: var(--success);
    --btn-hover-color: var(--black-fixed);
    --btn-border: 1px solid var(--success);
    --btn-hover-border: 1px solid var(--success);
}

[data-theme="dark"] .btn-warning, .btn-warning {
    --btn-bg: transparent;
    --btn-color: var(--warning);
    --btn-hover-bg: var(--warning);
    --btn-hover-color: var(--black-fixed);
    --btn-border: 1px solid var(--warning);
    --btn-hover-border: 1px solid var(--warning);
}

[data-theme="dark"] .btn-info, .btn-info {
    --btn-bg: transparent;
    --btn-color: var(--info);
    --btn-hover-bg: var(--info);
    --btn-hover-color: var(--black-fixed);
    --btn-border: 1px solid var(--info);
    --btn-hover-border: 1px solid var(--info);
}

/* Footer */

footer {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    width: fit-content;
}

/* Clock */

.clock {
    font-size: var(--clock-font-size);
    font-weight: var(--clock-font-weight);
    font-style: var(--clock-font-style);
    color: var(--clock-font-color);
    font-family: var(--clock-font), "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Settings pane */

.settings-pane {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 50%;
    max-width: 1200px;
    max-height: calc(100vh - 2rem);
    background-color: var(--white-fixed);
    border: 1px solid var(--black-400);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
}

.settings-pane.active {
    transform: translate(-50%, -50%) scale(1);
}

.settings-pane-content {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    overflow-y: auto;
}

.settings-pane-sidebar {
    width: 250px;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: var(--white-200);
    gap: 1rem;
}

.settings-pane-sidebar > li {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    font-weight: 600;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.settings-pane-link {
    display: inline-flex;
    padding: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: inherit;
    text-decoration: none;
}

.settings-pane-link.active {
    border-left: 4px solid var(--primary);
    padding-left: 0.5rem;
}

.settings-pane-close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

[data-theme="dark"] .settings-pane {
    background-color: var(--black-700);
    border: 1px solid var(--black-400);
}

[data-theme="dark"] .settings-pane-sidebar {
    background-color: var(--black-600);
}

.settings-pane-category-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

/* About pane */

.about-pane {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    background-color: var(--white-fixed);
    border: 1px solid var(--black-400);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
}

.about-pane.active {
    transform: translate(-50%, -50%) scale(1);
}

.about-pane > h2 {
    padding: 1rem 1rem 0 1rem;
}

.about-pane-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    font-size: 1.1rem;
}

.about-pane-content p {
    font-size: inherit;
}

.about-pane-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    border-top: 1px solid var(--black-400);
    font-size: 1rem;
}

.about-pane-footer a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about-pane-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

[data-theme="dark"] .about-pane {
    background-color: var(--black-700);
    border: 1px solid var(--black-400);
}

/* Modals and alerts */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

.modal-backdrop, .alert-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: fadeIn 0.3s ease;
}

.modal, .alert {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    max-width: 800px;
    background-color: var(--white-fixed);
    border: 1px solid var(--black-400);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: zoomIn 0.3s ease;
}

.modal-header, .alert-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

.modal-close-button, .alert-close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modal-content, .alert-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    font-size: 1.1rem;
}

.modal-content p, .alert-content p {
    font-size: inherit;
}

.modal-footer, .alert-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    border-top: 1px solid var(--black-400);
    font-size: 1rem;
}

.modal a, .alert a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 4px;
}

[data-theme="dark"] .modal, [data-theme="dark"] .alert {
    background-color: var(--black-700);
    border: 1px solid var(--black-400);
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form label {
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 0.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--white-fixed);
    border: 1px solid var(--black-400);
    color: var(--black-fixed);
    font-size: 1rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

[data-theme="dark"] form input,
[data-theme="dark"] form select,
[data-theme="dark"] form textarea {
    border: 1px solid var(--white-100);
    background-color: transparent;
    color: var(--white-fixed);
}

[data-theme="dark"] form input:focus,
[data-theme="dark"] form select:focus,
[data-theme="dark"] form textarea:focus,
form input:focus,
form select:focus,
form textarea:focus {
    border-color: var(--primary);
    outline: none;
}

form input[type="checkbox"], form input[type="radio"] {
    width: auto;
    margin-right: 0.5rem;
}

form input[type="checkbox"] + label, form input[type="radio"] + label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

[data-theme="dark"] form *.is-invalid, form *.is-invalid {
    border-color: var(--danger);
}

.timer-duration {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.timer-duration span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.timer-duration span:not(:first-child):before {
    content: ":";
    margin-right: .5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.form-group-item .btn {
    padding: .75rem;
}

input[type="color"] {
    width: 2.5rem;
    height: 2.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    border-radius: 34px;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    left: 0.20rem;
    bottom: 0.20rem;
    background-color: var(--text-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
}

.form-group.disabled {
    opacity: 0.5;
    pointer-events: none;
}

label:has(a) {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

label > a {
    font-size: 0.875rem;
}

/* Timers */

.timer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.timer-headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.timer-name {
    font-size: 1.5rem;
}

.timer-time {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: -.25rem;
}

.timer-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

/* Stopwatch */

.stopwatch {
    font-size: 10rem;
}

.stopwatch.has-clock-on-top {
    font-size: 5rem;
}

.stopwatch-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}

/* Mobile compatibility */

@media screen and (max-width: 1200px) {
    .settings-pane {
        width: 80%;
        height: 80%;
        max-width: none;
        max-height: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .settings-pane {
        width: 90%;
        height: 90%;
        max-width: none;
        max-height: none;
    }

    .settings-pane-sidebar {
        width: fit-content;
        height: 100%;
    }

    .settings-pane-content {
        padding: 1rem;
    }

    .about-pane {
        width: 90%;
        max-width: none;
    }

    .modal {
        width: 90%;
        max-width: none;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .clock {
        font-size: 5rem;
    }

    .clock.is-loading {
        font-size: 3rem;
    }

    .settings-pane {
        width: 95%;
        height: 95%;
        flex-direction: column;
    }

    .settings-pane-sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .settings-pane-link {
        position: relative;
    }

    .settings-pane-link > span {
        display: none;
    }

    .settings-pane-link.active {
        border-left: none;
    }

    .settings-pane-link.active::before {
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 0;
        display: inline-block;
        height: 4px;
        width: 100%;
        background-color: var(--primary);
    }

    .settings-pane-content {
        padding: 0.5rem;
    }

    .about-pane {
        width: 95%;
    }

    .modal {
        width: 95%;
    }

    footer {
        position: fixed;
        bottom: 1rem;
        left: 0;
        transform: none;
        width: 100%;
        text-align: center;
    }
}

/* Tooltips */

.v-popper--theme-tooltip .v-popper__inner {
    border-radius: 0.5rem !important;
    background-color: var(--background-color) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
    font-size: .875rem !important;
    font-weight: 400 !important;
    color: var(--black-600) !important;
    max-width: 300px !important;
}

[data-theme="dark"] .v-popper--theme-tooltip .v-popper__inner {
    color: var(--black-100) !important;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
    border-color: var(--background-color) !important;
}